//ZT COLORS


$color-grey: #898989;


// COLORS
$color-primary: #a6d637;
$color-primary-dark-1: #85ab2c;
$color-primary-dark-2: #536b1c;
$color-primary-light-1: #b8de5f;
$color-primary-light-2: #d3eb9b;

$color-secondary: #E19315;
$color-secondary-dark:#b47611;
$color-secondary-light:#e7a944;

$color-brown: #301D19;
$color-brown-2 : #703D2c;
$color-brown-3 : #a46832;

$color-grey: #898989;
$color-grey-light-1: #959595;
$color-grey-light-2: #acacac;
$color-grey-light-3: #b8b8b8;
$color-grey-light-4: #c4c4c4;
$color-grey-light-5: #f3f3f3;

$color-grey-dark: #7b7b7b;
$color-grey-dark-2:#606060;
$color-grey-dark-3:#525252;

$color-white: #fff;  
$color-black: #000;

// LINES AND SHADOW

$shadow-light: 0 2rem 6rem rgba(0, 0, 0, .3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
$shadow-dark: 0 3rem 8rem rgba($color-black, 0.3);
$shadow-dark-2:0 5rem 10rem rgba($color-black, 0.5);

$border-radius: 3rem;

$line: 1px solid $color-grey-light-2;

// FONT
$font-primary: "Roboto", sans-serif;
$font-display: "AmSans", sans-serif;

$default-font-size: 1.6rem;


// GRID
$grid-width: 160rem;
