.main__navigation {
  

  padding: 6rem 3rem 5rem 3rem ;
  

  grid-row: 1 /2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-land){
    padding: 6rem 2rem 5rem 2rem ;
  }  

  &--sticky{
    
  position: fixed;
  left: 2rem;
  top: 0;
  bottom: 0;
  width: calc(100% - 4rem);  
  z-index: 1000;
  height: 8rem;
  }

  

  

  
  
  &__button {
    display: none;
  }
}
