.program {
  padding: 0 2rem;  
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  &__heading {
      margin-left: 2rem;
      align-self: flex-start;
  }
}

.tab__container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;  

  &__head {
    flex: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
  }

  &__body {
    padding: 2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background-color: $color-grey-light-5;
    color: $color-primary-dark-3;
    
  }
}
