.btn {
    font-family: $font-primary;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-grey-dark-3;

    padding: 1.5rem 4rem;
    border: none;   
    border-radius: $border-radius;         
    background-color: $color-primary;
    cursor: pointer;
    transition: all 200ms;
    position: relative;

    animation-name: shakeItBaby;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    
        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
    }

    &--green {
        background-color: $color-primary;
        
    
        &::after {
          background-color: $color-primary;
        }
      }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: $border-radius;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 400ms;
        opacity: 1;
      }

      &--animated {
        animation: moveInBottom 500ms ease-out 750ms;
        animation-fill-mode: backwards;
      }

    

}