body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-white;
 

  text-align: left;
}

.heading-primary {
  font-family: $font-display;

  font-weight: 400;
  font-style: normal;
  color: $color-grey;

  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 8rem;
  letter-spacing: 4.5rem;

  &--main {
    display: block;
    text-align: center;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    text-align: center;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-light-2,
    $color-primary
  );
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 200ms;

  &:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.1);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-forth {
  display: block;
  font-size: 7rem;
  font-family: $font-display;
  text-align: center;
  background-image: linear-gradient(
    to right,
    $color-secondary-light,
    $color-secondary-dark
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  transition: all 200ms;


  
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
