.program-tab {
  &__container {
    background-color: $color-grey-light-1;
    padding: 2rem;
    border-radius: 0.5rem;
  }

  &__head {
    display: flex;
    justify-content: center;

    &__heading {
      font-size: 3.5rem;
      color: $color-grey-light-5;
      margin-bottom: 2rem;
      letter-spacing: 1px;
    }

    & span {
      color: $color-primary;
      text-transform: uppercase;
    }
  }

  &__tail {
    margin-top: 5rem;
    border-radius: $border-radius;    
    display: flex;
    justify-content: space-between;
  }
}
